<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <!--Check http://nlog-project.org/target.File.html for more information about logging and config settings -->
      <target name="file" xsi:type="File" fileName="D:\Projects\Writing\Articles\Spaanjaars.ContactManagerV45\Main\Logs\WcfTests.txt" layout="${longdate} ${callsite} ${level} ${message} ${exception:format=tostring}" />
    </targets>
    <rules>
      <!--Zet het loglevel op Info voor dagelijks gebruik, Er wordt dan weinig gelogd, Foutmeldingen komen er dan wel in-->
      <!--Zet het loglevel op Debug (veel info) of op Trace (heel veel info) om problemen op te sporen-->
      <logger name="*" minlevel="Trace" writeTo="file" />
    </rules>
  </nlog>
</configuration>