@{
  ViewBag.Title = "About";
}
<article>
  <p>This website is the <strong>ASP.NET MVC 4</strong> demo site for the Spaanjaars.ContactManager application, featured in the article series Building N-Layered Applications with ASP.NET 4.5.</p>
    <p>You can find the first part of the article series here: <a href="http://imar.spaanjaars.com/573/aspnet-n-layered-applications-introduction-part-1">http://imar.spaanjaars.com/573/aspnet-n-layered-applications-introduction-part-1</a></p>
  <p>The implementation of this specific MVC 4 site is discussed in part 6 which can be found here: <a href="http://imar.spaanjaars.com/578/aspnet-n-layered-applications-implementing-an-aspnet-mvc-4-frontend-part-6">http://imar.spaanjaars.com/578/aspnet-n-layered-applications-implementing-an-aspnet-mvc-4-frontend-part-6</a>.</p>
  <p>If you have comments or questions about this application, post them at the end of the relevant article in the article series. Alternatively, use the @Html.ActionLink("Contact", "Contact") page to get in touch with me directly.</p>
</article>
