@{
  ViewBag.Title = "Contact";
}
<article>
  <p>If you have questions about this demo application or one of the topics discussed in the article series, find the relevant article on my site and then use the Talk Back feature below the article to post your questions or comments.</p>
  <p>For more general questions, use the Contact page on my site at <a href="http://imar.spaanjaars.com/contact/">http://imar.spaanjaars.com/contact/</a>.</p>
</article>
