@{
  ViewBag.Title = "Home";
}
<h1>@ViewBag.Title</h1>
<p>Welcome to the Spaanjaars.ContactManager demo application. Click People in the main menu to start managing contact people, or use the About and Contact menu items to learn more about this application and how to get in touch with me.</p>
<p>Imar Spaanjaars</p>