@model Spaanjaars.ContactManager45.Web.Mvc.Models.DisplayPhoneNumber
<fieldset>
  <legend>Person</legend>
  <div class="display-label">
    @Html.DisplayNameFor(model => model.Number)
  </div>
  <div class="display-field">
    @Html.DisplayFor(model => model.Number)
  </div>
  <div class="display-label">
    @Html.DisplayNameFor(model => model.ContactType)
  </div>
  <div class="display-field">
    @Html.DisplayFor(model => model.ContactType)
  </div>
</fieldset>
