@model Spaanjaars.ContactManager45.Web.Mvc.Models.CreateAndEditPhoneNumber
@{
  ViewBag.Title = "New phone number";
}
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
  @Html.ValidationSummary(true)
  @Html.Partial("_CreateOrEdit", Model)
  <p>
    <input id="create" type="submit" value="Save" />
    @Html.ActionLink("Cancel", "List", new { personId = ViewBag.PersonId })
  </p>
}
