@model Spaanjaars.ContactManager45.Web.Mvc.Models.DisplayPhoneNumber
@{
  ViewBag.Title = "Details";
}
<h2>@ViewBag.Title</h2>
<fieldset>
  <legend>Person</legend>
  @Html.Partial("_Details", Model)
</fieldset>

<br />
<br />

@Html.ActionLink("Back to list", "List", new { ViewBag.PersonId })
