@model Spaanjaars.ContactManager45.Web.Mvc.Models.CreateAndEditEmailAddress
@{
  ViewBag.Title = "Edit e-mail address";
}
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
  @Html.ValidationSummary(true)
  @Html.Partial("_CreateOrEdit", Model)
  <p>
    <input id="edit" type="submit" value="Save" />
    @Html.ActionLink("Cancel", "List", new { ViewBag.PersonId })
  </p>
}
